<%= render "layouts/leftbanner" %>


<p>いいね一覧</p>
<% @like.each do |l| %>
  <p><%= link_to l.user.name, user_path(l.user.id) %></p>
<% end %>
<%= link_to "Tweet詳細へ戻る", tweet_path(params[:tweet_id]) %>
