<%= render "layouts/leftbanner" %>


<p><%= @user.name %>のフォロワー</p>
<% @follows.each do |f| %>
  <p><%= link_to f.from_user.name, user_path(f.from_user.id), method: :get %>
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <% if Follow.find_by(from_user: f.to_user, to_user: f.from_user) == nil %>
          ：未フォロー
        <% else %>
          ：フォロー済み
        <% end %>
      <% end %>
    <% end %></p>
<% end %>
<%= link_to @user.name + "の詳細へ戻る", user_path(@user.id) %>
