<%= render "layouts/leftbanner" %>


<p><%= @user.name %>のフォロー</p>
<% @follows.each do |f| %>
  <p><%= link_to f.to_user.name, user_path(f.to_user.id), method: :get %></p>
<% end %>
<%= link_to @user.name + "の詳細へ戻る", user_path(@user.id) %>
